* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

header{
    background-color: #BDD38E;
    img{
        border-radius: 50%;
        height: 125px;
        padding:10px;
    }
}

footer{
    background-color: #BDD38E;
    display: block; 
}

body{
    background-color: #fff9f1;
}

.tabs{
    li{
        display: inline;
        color: black;
        text-size-adjust: 120%;
    }
    text-align: right;
    word-spacing: 25px;
    margin-right: 40px;
}
