* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #BDD38E;  
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: fit-content;
    z-index: 10;
    
    img{
        border-radius: 50%;
        height: 200px;
        width: 200px;
        float: left;
        padding: 25px;
    }

    h1{
        font-family: "Over the Rainbow", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        position: relative;
        top: 25px;
        left: 10px;
    }

    h2{
        font-size: 24px;
        font-weight: 400;
        vertical-align: text-bottom;
        position: relative;
        left: 10px;
    }

    nav{
        font-family: 'Alice',serif;
    
        text-align: right;
        word-spacing: 25px;
        margin-right: 40px;
    
        li{
            display: inline;
        }     
    }
}

body{
    background-color: #fff9f1;    
    font-family: "Alice", serif;
    overflow-y: scroll;
    padding: 50px;
    height: fit-content;
    position: relative;
    top: 250px;

    h2{
        font-size: 24px;
        font-weight: 400;
    }
}

footer{
    background-color: #BDD38E; 
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    width: auto;
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 13px;
}

.catalog, .contact, .products, .patterns, .about-us{
    padding: 50px;
}

#intro{
    padding: 50px;      
    width: fit-content;
    height: fit-content;
    margin: auto;
    float: left;
    dl{
        margin-left: 25px;
        img{
            margin-right: 20px;
        }
    }
}

#navi{
    margin: auto;
    float: right;
}

#magazine{
    float: right;
}

#phone{
    float: left;
}

#catalog {
    box-sizing: content-box;
    background-color: aquamarine;
    max-height: min-content;
    max-width: fit-content;
    margin: auto;
    align-content: space-evenly;
}

#contact{
    box-sizing: content-box;
    background-color: plum;
    max-height: min-content;
    max-width: fit-content;
    margin: auto;
}

#tab{
    width: 100px;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #e9b4c4;
    border-style: none;
}

#page{
    width: fit-content;
    padding: 10px;
    height: 50px;
    border-radius: 50px;
    background-color: #AB7557;
    border-style: none;
}

#navi{
    width: 500px;
    text-align: center;
    p{
        font-size: 15px;
        font-weight: 500;
        margin-top: 10px;
    }
}
